{% extends 'pdf/base.html' %}

{% block content %}
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h1>Welcome to our website for creating resumes!</h1>
      <p>
        We provide a convenient tool for creating professional resumes that will help you showcase your experience,
        skills, and achievements in the best possible light when job hunting.
      </p>
      <p>
        Our service allows you to quickly and easily create resumes by choosing from various templates and customizing
        them to fit your needs. You can add sections, specify work experience, education, skills, and other important
        information for your future employer.
      </p>
      <p>
        Don't waste time starting from scratch – use our intuitive editor and create a professional resume in just a
        few minutes!
      </p>
      <a href="{% url 'accept' %}" class="btn btn-primary mt-3">Create Your Resume</a>
    </div>
  </div>
</div>
<br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/>

{% endblock %}
